---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import FormattedProj from "@components/FormattedProj.astro";
import certifications from "../../content/certifications/certifications.json";
import Link from "@components/Link.astro";
import { CERTIFICATIONS } from "@consts";

---

<PageLayout title={CERTIFICATIONS.TITLE} description={CERTIFICATIONS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Certifications (Page Under Construction)
      </div>
      <ul class="animate flex flex-col gap-5">
        {
          certifications.map((cert) => (
            <li>
              <div>
                <a href={cert.url} class="font-semibold hover:underline" target="_blank" rel="noopener noreferrer">{cert.name}</a>
                <div class="text-sm">{cert.issuer}</div>
                <div class="text-xs opacity-75">
                  <FormattedProj date={new Date(cert.date)} />
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
